<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Roman Numeral Generator - {% block page_title %}Welcome{% endblock %}</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/styles.css" type="text/css" />
    </head>
    <body>
        <header>
            <h1>Roman Numeral Generator</h1>
        </header>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer class="span-24 last">
            Copyright &copy; {% now "Y" %} <a href="http://crushingpennies.com/">Daniel Naab</a> |
            Source code available <a href="https://github.com/danielnaab/django-integer-to-roman">on Github</a>
        </footer>
    </body>
</html>
